.my-page {
    background-color: #ffffff;
    height: 2160px;
    position: relative;
    width: 1920px;
}

.my-page .content {
    height: 1000px;
    left: 340px;
    overflow: hidden;
    position: absolute;
    top: 80px;
    width: 1240px;
}

.my-page .profile {
    height: 311px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1240px;
}

.my-page .overlap {
    height: 220px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 220px;
}

.my-page .ellipse {
    height: 220px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 220px;
}

.my-page .img {
    height: 55px;
    left: 165px;
    position: absolute;
    top: 165px;
    width: 55px;
}

.my-page .mdi-pencil {
    height: 40px !important;
    left: 173px !important;
    position: absolute !important;
    top: 172px !important;
    width: 40px !important;
}

.my-page .overlap-group {
    height: 73px;
    left: 247px;
    position: absolute;
    top: 95px;
    width: 138px;
}

.my-page .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 50px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
}

.my-page .rectangle {
    background-color: #ff4e4e;
    border-radius: 90px;
    height: 13px;
    left: 5px;
    position: absolute;
    top: 1px;
    width: 41px;
}

.my-page .div {
    background-color: #c493f2;
    border-radius: 90px;
    height: 13px;
    left: 51px;
    position: absolute;
    top: 1px;
    width: 41px;
}

.my-page .rectangle-2 {
    background-color: #6edf8b;
    border-radius: 90px;
    height: 13px;
    left: 97px;
    position: absolute;
    top: 1px;
    width: 41px;
}

.my-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 8px;
    font-weight: 800;
    height: 10px;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
}

.my-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 8px;
    font-weight: 800;
    height: 13px;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 41px;
}

.my-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 8px;
    font-weight: 800;
    height: 13px;
    left: 97px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 41px;
}

.my-page .component-5 {
    left: 542px !important;
    top: 220px !important;
}

.my-page .overlap-2 {
    height: 17px;
    left: 247px;
    position: absolute;
    top: 194px;
    width: 350px;
}

.my-page .overlap-3 {
    height: 14px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 350px;
}

.my-page .rectangle-3 {
    background-color: #14ae4438;
    border-radius: 45px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 350px;
}

.my-page .rectangle-4 {
    background-color: #14ae5c;
    border-radius: 45px 0px 0px 45px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 252px;
}

.my-page .vector-instance {
    height: 14px !important;
    left: 83px !important;
    position: absolute !important;
    top: 0 !important;
    width: 14px !important;
}

.my-page .arrow {
    height: 5px;
    left: 175px;
    position: absolute;
    top: 0;
    width: 1px;
}

.my-page .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 12px;
    left: 568px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 219px;
    white-space: nowrap;
    width: 29px;
}

.my-page .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 12px;
    left: 247px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 219px;
    white-space: nowrap;
    width: 104px;
}

.my-page .overlap-4 {
    height: 14px;
    left: 252px;
    position: absolute;
    top: 77px;
    width: 41px;
}

.my-page .rectangle-5 {
    background-color: #e7e748;
    border-radius: 90px;
    height: 13px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 41px;
}

.my-page .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 8px;
    font-weight: 800;
    height: 13px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 41px;
}

.my-page .div-wrapper {
    background-color: #f7bc63;
    border-radius: 90px;
    height: 13px;
    left: 298px;
    position: absolute;
    top: 78px;
    width: 41px;
}

.my-page .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 8px;
    font-weight: 800;
    height: 10px;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}

.my-page .text-wrapper-9 {
    color: #00000099;
    font-family: "Inter-Medium", Helvetica;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    left: 392px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 177px;
    width: 64px;
}

.my-page .text-wrapper-10 {
    color: #00000066;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    left: 915px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 123px;
    width: 79px;
}

.my-page .text-wrapper-11 {
    color: #00000066;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    left: 1038px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 123px;
    width: 79px;
}

.my-page .text-wrapper-12 {
    color: #00000066;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    left: 1161px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 123px;
    width: 79px;
}

.my-page .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 32px;
    left: 933px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 165px;
    white-space: nowrap;
    width: 43px;
}

.my-page .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 32px;
    left: 1056px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 165px;
    white-space: nowrap;
    width: 43px;
}

.my-page .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    height: 32px;
    left: 1179px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 165px;
    white-space: nowrap;
    width: 43px;
}

.my-page .overlap-5 {
    height: 56px;
    left: 247px;
    position: absolute;
    top: 235px;
    width: 164px;
}

.my-page .rectangle-6 {
    background-color: #000000;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 164px;
}

.my-page .polygon {
    height: 8px;
    left: 86px;
    position: absolute;
    top: 0;
    width: 9px;
}

.my-page .p {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 10px;
    font-weight: 600;
    height: 32px;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 146px;
}

.my-page .histroy {
    background-color: #ffffff;
    height: 690px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 311px;
    width: 1240px;
}

.my-page .text-wrapper-16 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    height: 45px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 220px;
}

.my-page .text-wrapper-17 {
    color: #00000066;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    height: 45px;
    left: 220px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 220px;
}

.my-page .overlap-6 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 57px;
    width: 1240px;
}

.my-page .line {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.my-page .line-2 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1240px;
}

.my-page .overlap-7 {
    background-image: url(./image-4.png);
    background-size: 100% 100%;
    height: 206px;
    left: 0;
    position: absolute;
    top: 118px;
    width: 275px;
}

.my-page .overlap-8 {
    height: 53px;
    left: 36px;
    position: absolute;
    top: 139px;
    width: 191px;
}

.my-page .overlap-group-2 {
    height: 53px;
    left: 0;
    position: absolute;
    top: 0;
    width: 191px;
}

.my-page .text-wrapper-18 {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 191px;
}

.my-page .element {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 6px;
    font-style: italic;
    font-weight: 800;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #3c3a3a40;
    top: 26px;
    width: 41px;
}

.my-page .vector-2 {
    height: 6px;
    left: 1px;
    position: absolute;
    top: 28px;
    width: 6px;
}

.my-page .vector-3 {
    height: 6px;
    left: 1px;
    position: absolute;
    top: 42px;
    width: 6px;
}

.my-page .overlap-9 {
    height: 10px;
    left: 36px;
    position: absolute;
    top: 128px;
    width: 30px;
}

.my-page .rectangle-7 {
    background-color: #ff4e4e;
    border-radius: 30px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 30px;
}

.my-page .text-wrapper-19 {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 5px;
    font-style: italic;
    font-weight: 800;
    height: 9px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.my-page .overlap-10 {
    background-image: url(./image-8.png);
    background-size: 100% 100%;
    height: 206px;
    left: 642px;
    position: absolute;
    top: 118px;
    width: 275px;
}

.my-page .text-wrapper-20 {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 191px;
}

.my-page .element-2 {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 6px;
    font-style: italic;
    font-weight: 800;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.3;
    position: absolute;
    text-shadow: 0px 4px 4px #3c3a3a40;
    top: 26px;
    width: 41px;
}

.my-page .rectangle-8 {
    background-color: #ff4e4e;
    border-radius: 30px;
    height: 9px;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 1px;
    width: 30px;
}

.my-page .text-wrapper-21 {
    color: #ffffff;
    font-family: "Inter-ExtraBold Italic", Helvetica;
    font-size: 5px;
    font-style: italic;
    font-weight: 800;
    height: 9px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.my-page .overlap-11 {
    background-image: url(./image-6.png);
    background-size: 100% 100%;
    height: 206px;
    left: 321px;
    position: absolute;
    top: 118px;
    width: 275px;
}

.my-page .overlap-12 {
    background-image: url(./image-9.png);
    background-size: 100% 100%;
    height: 206px;
    left: 963px;
    position: absolute;
    top: 118px;
    width: 275px;
}

.my-page .overlap-13 {
    background-image: url(./image-5.png);
    background-size: 100% 100%;
    height: 206px;
    left: 0;
    position: absolute;
    top: 385px;
    width: 275px;
}

.my-page .overlap-14 {
    background-image: url(./image-10.png);
    background-size: 100% 100%;
    height: 206px;
    left: 642px;
    position: absolute;
    top: 385px;
    width: 275px;
}

.my-page .overlap-15 {
    background-image: url(./image-7.png);
    background-size: 100% 100%;
    height: 206px;
    left: 321px;
    position: absolute;
    top: 385px;
    width: 275px;
}

.my-page .overlap-16 {
    background-image: url(./image-11.png);
    background-size: 100% 100%;
    height: 206px;
    left: 963px;
    position: absolute;
    top: 385px;
    width: 275px;
}

.my-page .header {
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.my-page .image {
    height: 70px;
    left: 16px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 83px;
}
